<div class="jumbotron">

    <h1 class="display-4 text-center">Gestión Usuarios</h1>
    
        <p class="lead">En este módulo gestionaremos los usuarios</p>

        <hr>

        <div class="row">

            <div class="col-md-5">

                <app-registrar-empleado></app-registrar-empleado>

            </div>

            <div class="col-md-7">

                <app-listar-empleado></app-listar-empleado>
                
            </div>


        </div>


</div>

<div class="jumbotron">

    <h1 class="display-4 text-center">Gestión Establecimientos</h1>
    
        <p class="lead">En este módulo gestionaremos los establecimientos</p>

        <hr>

        <div class="row">

            <div class="col-md-5">

                <app-registrar-establecimiento></app-registrar-establecimiento>

            </div>

            <div class="col-md-7">

                <app-listar-establecimiento></app-listar-establecimiento>
                
            </div>


        </div>


</div>

